<%- include("./partials/header") %>

<h1>Home</h1>
<p> <%= homeStartingContent %> </p>
<% for(var i=0; i<absPosts.length; i++) {%>
    <h1><a href="/posts/ <%= absPosts[i]._id%>"><%= absPosts[i].title %> </a></h1>
	<div  class="dropdown">
	    <p><%= absPosts[i].body %> <a href="/posts/<%= absPosts[i]._id %>">Read More</a></p>
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
	    </button>
	    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
		<li><a class="dropdown-item" href="/edit/<%=absPosts[i]._id%>">Edit</a></li>
		<li><a id="deleteBtn" cLass="dropdown-item" href="/delete/<%=absPosts[i]._id%>">Delete</a></li>
	    </ul>
	</div>
<% } %>


<a href="/compose" id="composeLink"><button type="button" class="composeBtn"><img class="composeImg" src="https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png"/>Compose</button></a>

<script>
</script>

<%- include("./partials/footer") %>
